<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculadora con Django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            {% load static %}
                <img src="{% static 'img/django_logo.svg' %}" height="50px" style="margin:7px 15px" />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://gavg712.gitlab.io/resume/index.es.html"><i class="material-icons">account_circle</i></a></li>
            <li><a href="https://github.com/gabrielvgaona/proyecto-final-python"><i class="material-icons">code</i></a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
        <h1 class="display-3 text-center fw-normal">Calculadora</h1>
        {% block content %}
        {% endblock %}
    </div>

 </body>

</html>

<style>
    input{
        font-size: 20px;
    }

    h1 {
        font-size: 45px;
    }
    
    button {
        margin-right: 20px;
        width: 80px;
    }
    
    .result {
        background-color: rgba(172, 179, 182, 0.704);
        padding: 10px;
        margin: auto;
        border-radius: 2px;
        border: 1px solid rgb(108, 104, 97);
    }
    
    .warn{
        background-color: rgba(255, 191, 142, 0.704);
        color: rgba(149, 71, 12, 0.704);
    } 
</style>